@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Object>
    <h2>Liệt kê các Product (ProductName) do CompanyName “Tokyo Traders” cung cấp</h2>
    <table border="">
        <tr>

        <th>ProductName</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.GetType().GetProperty("ProductName").GetValue(item, null)</td>
            </tr>

        }
    </table>