@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Object>
    <h2>Liệt kê các Product (ProductID, ProductName) chưa được đặt hàng (UnitsOnOrder=0)</h2>
<table border="">
    <tr>

        <th>ProductId</th>
        <th>ProductName</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GetType().GetProperty("ProductId").GetValue(item, null)</td>
            <td>@item.GetType().GetProperty("ProductName").GetValue(item, null)</td>
        </tr>

    }
    
</table>