@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Home" asp-action="Cau3">Câu 3</a>
    <a asp-controller="Home" asp-action="Cau4">Câu 4</a>
    <a asp-controller="Home" asp-action="Cau5">Câu 5</a>
    <a asp-controller="Home" asp-action="Cau6">Câu 6</a>
    <a asp-controller="Home" asp-action="Cau7">Câu 7</a>
    <a asp-controller="Home" asp-action="Cau8">Câu 8</a>
    <a asp-controller="Home" asp-action="Cau9">Câu 9</a>
    <a asp-controller="Home" asp-action="Cau13">Câu 13</a>
    <a asp-controller="Home" asp-action="Cau14">Câu 14</a>
    <a asp-controller="Home" asp-action="Cau17">Câu 17</a>

</div>
